.container{
    border: 2px solid red;
    margin-top: 100px;
    font-family: verdana, Geneva, Tahoma, sans-serif ;
    padding: 20px;
    background-image: url("Images/m1.jpg");
    width: 400px;
    height: 400px;
    float: left;
}
h2{
    background-color: orange;
    padding: 10px;
}
p{
    text-indent: 100px;
    line-height: 40px;
}